/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}


html {
  font-family: 'Lato', sans-serif;
}

.grid-container {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.5fr 1.5fr 0.4fr;
  grid-template-rows: 0.5fr 2fr 2fr 1fr;
  gap: 0px 0px;
}

header {
  grid-area: 1 / 2 / 2 / 5;
  background-color: #32908F;
}

#logo {

  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav {
  
  grid-area: 1 / 1 / 2 / 2;
  background-color: #32908F;
}
.menu {
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #E7ECEF;
  margin: 6px;
  transition: 0.4s;
  position: relative;
  left:20px;
  top:20px;
  
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F87575;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #E7ECEF;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color:#B0B0B0;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
section {
  grid-area: 2/ 1 / 3 / 5;
  background-color: #E7ECEF;
  overflow: hidden;  
}

container {
  position: relative;
  background-color: #32908F;
}

.text-block {
  position: relative;
  bottom: 30px;
  background-color: #32908F;
  color: white;
  padding: 25px 25px 25px 25px;

}

img {
  width: 100%;
  max-width: 100vw;
  height: auto;
}
article {
  grid-area: 3 / 1 / 5 / 5;
}

.btn {
  background-color: #5F464B;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
.main {
  max-width: 1000px;
  margin: auto;
  text-align: centre;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content1, .content2, .content3 {
  text-align: center;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
.content1{
   background-color: #F87575;
}

.content2{
   background-color: #FFE085;
}
.content3{
   background-color: #32908F;
}

button{
   background-color: #E7ECEF;
}

button:hover{
   background-color: #5F464B;
   color: #E7ECEF;
}

#myDIV1,
#myDIV2
{
  background-color: #F87575;
  padding: 50px 0;
  margin-top: 20px;
  text-align: center;
}
#myDIV3,
#myDIV4
{
  background-color: #FFE085;
  padding: 50px 0;
  margin-top: 20px;
  text-align: center;
}
#myDIV5,
#myDIV6 {
  padding: 50px 0;
  text-align: center;
  background-color: #32908F;
  margin-top: 20px;
}
.accordion {
  position:relative;
  left:-20px;
  background-color: #5F464B;
  color: #E7ECEF;
  cursor: pointer;
  padding: 20px;
  width: 102.2%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #F87575; 
}

.panel {
  padding: 0 0px;
  display: none;
  background-color: E7ECEF;
  overflow: hidden;
  font-size: 30px;
}